.social-navigation a[href*="soundcloud.com"]:before {
    font-family: 'socicon';
    content:        "n";
}

.social-navigation a[href*="spotify.com"]:before {
    font-family: 'socicon';
    content:        "o";
}

.social-navigation a[href*="reverbnation.com"]:before {
    font-family: 'dashicons';
    content: "\f155";
}
