.social-navigation a[href*="soundcloud.com"]:before {
    font-family: 'FontAwesome';
    content:        "\f1be";
}

.social-navigation a[href*="spotify.com"]:before {
    font-family: 'FontAwesome';
    content:        "\f1bc";
}